beautifulsoup4
crawl4ai
fastapi
groq
httpx
lxml
langchain
langchain-community
langchain-openai
langchain-text-splitters
numpy
openai
pydantic
python-dotenv
python-multipart
scikit-learn
sentence-transformers
supabase
tiktoken
uvicorn